.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: #c9c9c9ee;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #af1a1a;
}

#footer p {
  margin: 0;
  font-size: 16px;
  color:#ffffff
}

h1 {
  color:#0018a1;
  margin-top: 10px;
  -webkit-text-stroke: 1px #af1a1a;
  font-family: tahoma; color: #0018a1;
  animation: title 1.2s forwards linear;
  text-align:center;
  font-size: 100px;
}

h2 {
  color:#0018a1;
  text-align:center;
}

p {
  text-align: center;
}
